workflows/Nihal/qIcaWS7ugCD7dSO0.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separate Image Outputs": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Image": {
      "main": [
        [
          {
            "node": "Separate Image Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-14T11:08:01.601Z",
  "id": "qIcaWS7ugCD7dSO0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Linked in uploader",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Image Prompt"
            },
            {
              "name": "Post Article"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -140
      ],
      "id": "ecf68451-6cfd-4253-934f-5452ac80940b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "person": "XCeH7UtQSB",
        "text": "={{ $('When Executed by Another Workflow').item.json['Post Article'] }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1100,
        -140
      ],
      "id": "9d46e523-6186-470d-a71b-ce6a7c7fe503",
      "name": "LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "fJQcLi1E3spwFMWM",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "b64_json",
        "options": {}
      },
      "id": "30102eca-c419-4af3-a574-b9b528b8c484",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        880,
        -140
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.openai_image_model }}\",\n  \"prompt\": \"{{ $json.image_prompt }}\",\n  \"n\": {{ $json.number_of_images }},\n  \"size\": \"{{ $json.size_of_image }}\",\n  \"quality\": \"{{ $json.quality_of_image }}\"\n}",
        "options": {}
      },
      "id": "622b167a-77b8-47fb-bed0-32ba7d730cb4",
      "name": "OpenAI - Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        440,
        -140
      ],
      "typeVersion": 4.2,
      "credentials": {
        "openAiApi": {
          "id": "kYMWduOenOVn8Iv6",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a5d52c2-5af1-4796-acba-4e1807fc7d7b",
              "name": "image_prompt",
              "type": "string",
              "value": "= {{ $json['Image Prompt'] }}"
            },
            {
              "id": "c41a8091-d952-4f5a-ae24-3b0691bbce57",
              "name": "number_of_images",
              "type": "number",
              "value": 2
            },
            {
              "id": "00feec5a-19c8-43af-bf93-e0729d1391f8",
              "name": "quality_of_image",
              "type": "string",
              "value": "high"
            },
            {
              "id": "1b359a11-c05a-49c8-aa27-402b145fcbc1",
              "name": "size_of_image",
              "type": "string",
              "value": "1024x1024"
            },
            {
              "id": "6cf4ba85-d11a-48bb-9eaf-4084c9538d87",
              "name": "openai_image_model",
              "type": "string",
              "value": "=gpt-image-1"
            }
          ]
        },
        "options": {}
      },
      "id": "72aac932-8b2e-4d3b-8879-033b39d65bf5",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        220,
        -140
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "65771a73-fd68-415f-b397-d08cb61b0593",
      "name": "Separate Image Outputs",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        660,
        -140
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Image Prompt": "Cute kitten",
          "Post Article": "cute kitten Test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-14T14:08:36.910Z",
      "updatedAt": "2025-05-14T14:08:36.910Z",
      "id": "oNui9YaGMegZV6Ai",
      "name": "Nihal"
    },
    {
      "createdAt": "2025-05-15T11:42:31.432Z",
      "updatedAt": "2025-05-15T11:42:31.432Z",
      "id": "MIuncMeAdNHM3wfG",
      "name": "image gen"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-05-15T12:26:07.823Z",
  "versionId": "20928c68-3616-415b-89cc-8c1af73f8f58"
}