workflows/GrandScheme/LLlKplyYQ1qO4DLZ.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reasearch agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-12T07:38:04.576Z",
  "id": "LLlKplyYQ1qO4DLZ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Orchestrator",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "id": "c529e2c7-66e2-4f7d-ab8f-fa499a5f65da",
      "name": "When chat message received",
      "webhookId": "66fcb2a4-3c86-4eeb-b7f7-6e7bd678ffd3"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant, you are the orchestrator, you have multiple tools within your reach, use all these tools when needed to serve in the best way possible "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        440,
        0
      ],
      "id": "341b8381-2ad0-48f1-b6ea-557c3edb0422",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo-1106",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo-1106"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        280
      ],
      "id": "03e7b416-ecc6-4f4d-9c73-91523af35f19",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kYMWduOenOVn8Iv6",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 500000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        460,
        280
      ],
      "id": "b042b1b9-16cd-4d8f-be5c-3dada95f81c8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        860,
        0
      ],
      "id": "05a73690-b86e-46a5-8bb6-c4b8b75f8e4c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "description": "call this tool to know about up to date information from the internet",
        "workflowId": {
          "__rl": true,
          "value": "SRcspKinv5xleAGO",
          "mode": "list",
          "cachedResultName": "Researcher"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Topic', ``, 'string') }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        640,
        280
      ],
      "id": "cfb62ed2-8ea0-40e1-ab80-c9e773c5ae5d",
      "name": "Reasearch agent"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-12T07:53:03.830Z",
      "updatedAt": "2025-05-12T07:53:03.830Z",
      "id": "rwZNNg85Xr4kF8In",
      "name": "GrandScheme"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-05-27T15:18:19.330Z",
  "versionId": "e4dc5505-3d8f-4c40-9e7d-75f3c6df3e83"
}